
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="website-list.html">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Pages</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="page-new.html">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row paddingRightLeft">
        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            <a href="widget-list.html" class="pull-left blue anchorMargin">Blog Post</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="page-edit.html" class="pull-right anchorMargin">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            <a href="widget-list.html" class="pull-left blue anchorMargin">Blogs</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="page-edit.html" class="pull-right anchorMargin">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            <a href="widget-list.html" class="pull-left blue anchorMargin">Home</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="page-edit.html" class="pull-right anchorMargin">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            <a href="widget-list.html" class="pull-left blue anchorMargin">About</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="page-edit.html" class="pull-right anchorMargin">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>

        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            <a href="widget-list.html" class="pull-left blue anchorMargin">Contact Us</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <a href="page-edit.html" class="pull-right anchorMargin">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="profile.html">
                        <span class="glyphicon glyphicon-user white"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

</body>
</html>
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help