<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Pages</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ng-repeat="page in model.pages">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget" class="pull-left">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"  class="pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}">
                            <span class="glyphicon glyphicon-user white"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
</nav>
