<!DOCTYPE html>
<div class="container">


    <div ng-show="!model.error && loginForm.$submitted && loginForm.$invalid" class="alert alert-danger" role="alert">
        There are errors in the form!!
    </div>

    <div ng-show="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <form name="loginForm" novalidate ng-submit="loginForm.$valid && model.login(model.username,model.password)">
        <h1>Login</h1>

        <input autocorrect="off" autocapitalize="off"
               ng-model="model.username"
               required
               name="username"
               type="text"
               class="form-control"
               id="username"
               placeholder="username"/>

        <div ng-show ="loginForm.$submitted && loginForm.username.$invalid" class="formFieldErrorMsg">
            Username is a required field
        </div>

        <input ng-model="model.password"
               required
               name="password"
               type="password"
               class="form-control"
               id="password"
               placeholder="password"/>

        <div ng-show ="loginForm.$submitted && loginForm.password.$invalid" class="formFieldErrorMsg">
            Password is a required field
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>

        <a class = "btn btn-success btn-block"
            href="#/register" > Register
        </a>

    <a href="/auth/facebook" class="btn btn-primary btn-block" role="button">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
</div>
