<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>

                <a class="navbar-brand" href="#">
                    Widget Edit
                </a>

                <a ng-click="model.updateWidget(model.widget)"
                   class="navbar-text pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
        </div>
    </div>
</nav>
    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input  ng-model="model.widget.name"
                    type="text"
                    class="form-control"
                    id="widget-name"
                    placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input  ng-model="model.widget.text"
                    type="text" class="form-control" id="text" placeholder="Widget title">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url"
                    type="text" class="form-control" id="url" value="http://goibibo.com">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input  ng-model="model.widget.width"
                    type="text" class="form-control" id="width" placeholder="Width" value="100%">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()"> Delete
    </a>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-text pull-right"> </p>
                <a href="#/user/{{model.userId}}" class="navbar-text pull-right">
                    <span class ="glyphicon glyphicon-user"> </span>
                </a>
                </p>
            </div>
        </div>
    </nav>
