<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Choose Widget</span>
            </div>
        </div>
    </div>
</nav>

 <div class="container-fluid">
     <div class="container-fluid">
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a ng-click="model.createNewWidget(model.newWidgetHeader)" class="pull-left blue anchorMargin">Header</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                    class="pull-left blue anchorMargin">Label</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a class="pull-left blue anchorMargin" ng-click="model.createNewWidget(model.newWidgetHTML)">HTML</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a class="pull-left blue anchorMargin" ng-click="model.createNewWidget(model.newWidgetTEXT)">Text Input</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                    class="pull-left blue anchorMargin">
                     Link
                 </a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                    class="pull-left blue anchorMargin">
                     Button
                 </a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a ng-click="model.createNewWidget(model.newWidgetImage)" class="pull-left blue anchorMargin">Image</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a  ng-click="model.createNewWidget(model.newWidgetYouTube)" class="pull-left blue anchorMargin">YouTube</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                    class="pull-left blue anchorMargin">Data Table</a>
             </div>
         </div>
         <div class="row">
             <div class="col-xs-11 col-sm-12 col-md-12 col-lg-12">
                 <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                    class="pull-left blue anchorMargin">Repeater</a>
             </div>
         </div>
     </div>
 </div>
 <nav class="navbar navbar-default navbar-fixed-bottom">
     <div class="container">
         <div class="navbar-header">
             <p class="navbar-text pull-right"> </p>
                 <a href="#/user/{{model.userId}}" class="navbar-text pull-right">
                     <span class ="glyphicon glyphicon-user"> </span>
                 </a>
             </p>
         </div>
     </div>
 </nav>