<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <span class="navbar-brand pull-left">Widgets</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href = "#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid topMargin">
    <div class="container-fluid" jga-sortable>
        <div ng-repeat="widget in model.widgets| orderBy : 'order'" class="row topMargin widget-Pos">
            <div ng-switch="widget.type">
                <div ng-switch-when="HEADER" class="col-xs-12">
                    <p class="h{{widget.size}}">
                        {{widget.text}}
                    </p>
                </div>

                <div ng-switch-when="HTML" class="col-xs-12">
                    <div ng-bind-html="model.getSafeHtml(widget.text)">
                    </div>
                </div>

                <div ng-switch-when="IMAGE" class="img-rounded col-xs-12">
                    <img width="{{widget.width}}" ng-src="{{widget.url}}">
                </div>

                <div ng-switch-when="YOUTUBE" class="img-rounded col-xs-12 youtube-widget">
                    <iframe height="345" ng-src={{model.checkSafeURL(widget.url)}} width={{widget.width}}></iframe>
                </div>

                <div ng-switch-when="INPUT" class="img-rounded col-xs-12">

                    <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]" ng-model="widget.text"></div>
                    <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                           placeholder="{{widget.placeholder}}" class="form-control" ng-model="widget.text"/>
                    <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                              rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                              class="form-control">{{widget.text}}</textarea>
                </div>

            </div>
            <div class="row">
                <div class=" col-xs-2 col-sm-2 col-mid-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-mid-offset-11 col-lg-offset-11 up">
                    <div class="pull-right widget-style">
                        <a href ng-click="model.editWidget(widget)" class="navbar-link">
                            <span class="glyphicon glyphicon-cog"/>
                        </a>
                        <span class="glyphicon glyphicon-align-justify"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <p class="navbar-text">
                    <a href="" class="navbar-link rightMargin">
                        <span class="glyphicon glyphicon-play"/>
                    </a>
                    <a href="" class="navbar-link">
                        <span class="glyphicon glyphicon-eye-open"/>
                    </a>
                </p>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>