<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                         class="navbar-text pull-left">
                    <span class="glyphicon glyphicon-chevron-left"> </span>
                </a>
                <a class="navbar-brand" href="#">Edit Page</a>
                <a href="javascript:$('#pageEdit').click()">
                   class="navbar-text pull-right">
                    <span class ="glyphicon glyphicon-ok"> </span>
                </a>
            </div>
        </div>
    </nav>


    <div ng-show="!model.error && pageForm.$submitted && pageForm.$invalid" class="alert alert-danger"
         role="alert">
        There are errors in the page form
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="pageForm" id="pageForm" novalidate
          ng-submit="pageForm.$valid && model.updatePage()">
        <div class="form-group">
            <label for="pageName">Name</label>
            <input type="text" required class="form-control" ng-model="model.currentpage.name" id="pageName" name="pageName" placeholder="Page Name"/>
            <div ng-show="pageForm.$submitted && pageForm.pageName.$invalid" class="formFieldErrorMsg">
                Page Name is a required field
            </div>
        </div>
        <div class="form-group">
            <label for="pageTitle">Title</label>
            <input type="text" class="form-control" ng-model="model.currentpage.title" id="pageTitle" placeholder="Page Title"/>
        </div>
        <div class="form-group">
            <button ng-click="model.deletePage()" class="btn btn-block btn-danger">Delete</button>
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="pageEdit" style="display: none">Edit Page</button>
    </form>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}" class="navbar-text pull-right">
                <span class ="glyphicon glyphicon-user"> </span>
            </a>
        </div>
    </div>
</nav>
